cookies.txt

wallpapers/

.config/twt

.config/mpv/fonts
.config/mpv/scripts/uosc
.config/mpv/watch_later

.config/tmux/plugins

.config/restic/repo-password
.config/xfce4/xfconf/xfce-perchannel-xml

.config/systemd/user/default.target.wants/
