.config/mpv/watch_later
.config/tmux/plugins
.config/mov-cli/.env
.config/input-remapper-2/presets/Logitech G300s Optical Gaming Mouse/new preset.json
.config/input-remapper-2/presets/C-Media Electronics Inc. USB Audio Device/new preset.json
