[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty Terminal
Comment=
Exec=/home/roman/.local/kitty.app/bin/kitty
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
